*{
    padding: 0;
    margin: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url(Fotos/Pile3.jpg);
    background-size: cover;
    background-position: center;
}
.navar{
    width: 100%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    margin-left: 20px;

}
.navar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    padding-right: 80px;

    animation: fadeInDown;
    animation-duration: 2s;
}

.navar ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    Transition-duration: 0.8s;
}

.navar ul li a:hover {
    color: #0099ff;
}
.toggle-btn{
    display: none;
}
.ubicacion{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-style: oblique;
    margin-left: 30%;
    font-size: 20px;
}
.ubicacion h3{
    color: #0099ff;
    font-size: 30px;
}
.mapa{
    margin-top: 20px ;
}
.mail{
    font-style: normal;
}



@media only screen and (max-width: 600px) {
    .navar{
        background-color: #0093E9;
        background-image: linear-gradient(89deg, #0093E9 0%, #80D0C7 100%);
        height: 6px;
        box-shadow: 2px 2px 15px 0px rgba(38, 212, 204, 0.42);
        align-items: center;
    }
    
    .navar .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: #0093E9;
        background-image: linear-gradient(89deg, #0093E9 0%, #80D0C7 100%);

        height: 100vh;      
        margin-top: -4px;
        transform: translateX(-130%);
        transition: all 1.2s;
        z-index: 1;
    }
    .logo{
        width: 200px;
    }

    #menuu.active{
        transform: translateX(0%);
    }

    #menuu li{
        margin-top: 3.5em;
    }

    .navar .toggle-btn{
       display: block;
       font-size: 30px;
       font-weight: 700;
       color: rgb(0, 0, 0);
       cursor: pointer;
       padding-right: 10px;
   }
   form{
    width: 90%;
    margin-top: 15%;
    }
   .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url(fotos/Pile3.jpg)
   }
   .ubicacion{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
    }
    .ubicacion h3{
    font-size: 23px;
    }
    .googleMap{
        width: 85%;
        height: 60vh;
    }
  
}